.twitch {
  $translate-value: 6px;

  .image-group {
    @include flexbox(between);
    flex-wrap: wrap;
  }

  .twitch-card-image {
    &:first-child {
      @include translate-image($translate-value);
    }

    &:nth-child(2) {
      @include translate-image($translate-value, $green);
    }

    &:last-child {
      @include translate-image($translate-value, $blue);
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  @include responsive('T') {
    .image-group {
      flex-wrap: nowrap;
    }

    .twitch-card-image {
      &:not(:last-child) {
        margin-right: 24px;
        margin-bottom: 0;
      }
    }
  }
}
